.card_container {
  @apply w-full h-1/2 sm:h-full flex relative;
}
.card {
  @apply min-w-full w-full h-full rounded-md p-4 transition duration-1000 cursor-pointer;

  &:nth-child(1) {
    @apply bg-gray-200 shadow;
  }

  &:nth-child(2) {
    @apply bg-slate-900 absolute -z-10;
  }
}

.card_edit {
  animation: flip .6s ease-in-out forwards;
}

.card_reset {
  animation: flip-back .6s ease-in-out forwards;
}

@-webkit-keyframes flip {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(110%);
  }
  100% {
    transform: translate(0%);
    z-index: 10;
  }
}

@keyframes flip {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(110%);
  }
  100% {
    transform: translate(0%);
    z-index: 10;
  }
}

@-webkit-keyframes flip-back {
  0% {
    transform: translate(0%);
    z-index: 10;
  }
  50% {
    transform: translate(110%);
  }
  100% {
    transform: translate(0%);
    z-index: -10;
  }
}

@keyframes flip-back {
  0% {
    transform: translate(0%);
    z-index: 10;
  }
  50% {
    transform: translate(110%);
  }
  100% {
    transform: translate(0%);
    z-index: -10;
  }
}
