@import url(https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap);

body{
    font-family: 'LXGW WenKai Mono TC', monospace;
}

/* 滾動條的寬度 */
::-webkit-scrollbar {
    width: 5px;         
    height: 6px;
}

/* 滾動條的設定 */
::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bbb;
    border-radius: 5px;
}