$distant: 23px;
.nav {
  @apply w-12 hover:w-[17.4rem] h-12 border shadow rounded-full transition-all duration-300 bg-white flex items-center gap-2 overflow-hidden z-50;
  .line:nth-child(1) {
    @apply absolute top-4;
  }
  .line:nth-child(2) {
  }
  .line:nth-child(3) {
    @apply absolute bottom-4;
  }

  &:hover {
    .line:nth-child(1) {
      @apply rotate-45;
      top: $distant;
    }
    .line:nth-child(2) {
      @apply translate-x-12;
    }
    .line:nth-child(3) {
      @apply -rotate-45;
      bottom: $distant;
    }
  }
  .hamburger_menu {
    @apply min-w-12 h-12 rounded-full flex flex-col justify-center items-center gap-1 overflow-hidden relative;
    .line {
      @apply w-1/2 h-0.5 bg-slate-900 transition-all duration-300;
    }
  }
}
